*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-family: raleway;
}

a{ 
    text-decoration: none;
}


/*!-----------HEADER----------*/

/*!-----------MAIN----------*/

/*?----------INDEX----------*/
.hero{
    text-align: center;
    height: 600px;
    background-image: url("../img/Semillas\ banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: rgb(255, 255, 255);
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero p{
    text-align: center;
    font-family: lato;
}
.bienvenidos{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bienvenidos div{
    padding: 20px;
    margin: 40px;
}

.bienvenidos div h2{
    margin: 10px;
    font-size: 50px;
    text-align: center;
}

.bienvenidos div p{

    font-family: lato;
    font-size: 40px;
}

.bienvenidos img{
    max-width: 100%;
    height: auto;
}

.productos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-items: center;
}
.productos h2{
    padding: 10px 70px;
    font-weight: bold;
    font-size: 50px;
    border: rgb(147, 196, 101) solid ;
    border-radius: 10px;
    text-transform: uppercase;
    margin: 20px;
    background-color: rgb(147, 196, 101);    /*?CHEQUEAR PALETA DE COLORES DE VIDA SANA!*/
}

.productos .productos-botones{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.productos .productos-botones div{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 10px;
}

.boton-harinas {
    color: #fff;
    background-color: rgb(147, 196, 101);
    padding: 10px 20px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.boton-harinas img {
    width: 300px;
    height: auto;
    display: block;
    margin: 0 auto 20px;
    border-radius: 50%;
}

.boton-mermelada {
    color: #fff;
    background-color: rgb(147, 196, 101);
    padding: 10px 20px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.boton-mermelada img {
    width: 300px;
    height: 300px;
    display: block;
    margin: 0 auto 20px;
    border-radius: 50%;
}

.boton-galletas {
    color: #fff;
    background-color: rgb(147, 196, 101);
    padding: 10px 20px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.boton-galletas img {
    width: 300px;
    height: 300px;
    display: block;
    margin: 0 auto 20px;
    border-radius: 50%;
}

/*?----------Contacto---------*/
.form{
    padding: 30px;
}


/*?----------Nosotros---------*/

.sobre-nosotros{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sobre-nosotros div{
    padding: 20px;
    margin: 40px;
}

.sobre-nosotros div h2{
    margin: 10px;
    font-size: 50px;
    text-align: center;
}

.sobre-nosotros div p{

    font-family: lato;
    font-size: 40px;
}

.sobre-nosotros .sobre-nosotros_img{
    max-width: 100%;
    height: auto;
    width: 900px;
}

@media (max-width:1250px){
    .sobre-nosotros{
        flex-direction: column;
    }
    .sobre-nosotros div h2{
        font-size: 30px;
    }
    .sobre-nosotros div p{
        font-size: 20px;
    }
    .sobre-nosotros .sobre-nosotros_img{
        width: 80%;
    }
}

/*?----------Productos---------*/
.header-productos{
    background-color: rgb(207, 164, 85);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-productos div ul li a{
    color: rgb(0, 0, 0);
    font-family: raleway;
    font-size: 20px;
}

.bg-menu{
    background-color: rgb(207, 164, 85);
}

.header-productos .container-fluid a img{
    width: 120px;;
}
@media (max-width:1150px){
    .bienvenidos{
        flex-direction: column;
    }
    .bienvenidos div h2{
        font-size: 30px;
    }
    .bienvenidos div p{
        font-size: 20px;
    }
    .hero{
        font-size: 20px;
    }
}
@media (max-width: 713px) {
    .header-productos{
        flex-direction: column;
    }
    .navbar-nav .nav-item {
        width: 50%;
        box-sizing: border-box;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.grid-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 100%;
    max-width: 400px;
    height: auto;
}

.grid-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

@media (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .grid-item:nth-child(2) {
        grid-column: span 2;
    }
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .grid-item:nth-child(2) {
        grid-column: span 1;
    }
}

/*?----------Tiendas---------*/

.hero1 h1{
    text-align: center;
    height: 200px;
    background-image: url("../img/banner-hero2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: rgb(255, 255, 255);
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: lato;
}


.titulo h2{
    padding: 10px 70px;
    font-weight: bold;
    font-size: 50px;
    border: rgb(147, 196, 101) solid ;
    border-radius: 10px;
    text-transform: uppercase;
    margin: 20px;
    background-color: rgb(147, 196, 101);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-items: center;
}

.cards{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-items: flex-start;
    padding-left: 10%;
    padding-right: 10%;
    background-image: url("../img/alimentos-mundo1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.card1{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 10px;
    border: #eff9ff solid;
    background-color: #eff9ff;
    padding: 5px 50px;
    border-radius: 30px;
    height: 250px;
}

.card1 .card-contacto1{
    list-style: none;
    margin: 10px;
    color: black;
    font-family: lato;
    font-weight: bold;
}

.card1 .card-contacto1 li{
    margin: 10px;
}

.card1 .card-contacto1 img{
    width: 50px;
}

.cards .card1 .boton{
    align-self: flex-end;
    background-color: greenyellow;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: lato;
    font-weight: bold;
}

.cards .card2{
    text-align: center;;
    flex-direction: row-reverse;
    align-items: center;
    align-self: flex-end;
    display: flex;
    margin: 10px;
    border: #eff9ff solid;
    background-color: #eff9ff;
    padding: 5px 50px;
    border-radius: 30px;
    height: 250px;
}

.card2 .card-contacto2{
    list-style: none;
    margin: 10px;
    color: black;
    font-family: lato;
    font-weight: bold;
}

.card2 .card-contacto2 li{
    margin: 10px;
}

.card2 .card-contacto2 li a{
    margin: 10px;
}

.card2 .card-contacto2 img{
    width: 50px;
}

.cards .card2 .boton{
    align-self: flex-end;
    background-color: greenyellow;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: lato;
    font-weight: bold;
}

/*!-----------FOOTER----------*/

footer div{
    background-color: rgb(207, 164, 85);
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10 20;
}

.social-media {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 20px;
}

.logo img {
    height: 40px;
}

.social-media img {
    height: 60px;
}

@media (max-width: 600px) {
    footer div{
        padding: 5 10;
    }
    .logo img{
        height: 20px;
    }
    .social-media{
        flex-direction: column;
        width: 50%;
    }
    .social-media img{
        padding: 5px;
        height: 40px;
    }
}