main{

    .hero{
        text-align: center;
        height: 600px;
        background-image: url("../img/Semillas\ banner.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        color: nth($colores, 3);
        font-size: nth($font-sizes , 2);
        flex-direction: column;
        h1{

        }
        p{
            text-align: center;
            font-family: lato;
        }
    }
    .hero1{

        h1{
            text-align: center;
            height: 200px;
            background-image: url("../img/banner-hero2.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            color: nth($colores, 3);
            font-size: nth($font-sizes , 2);
            flex-direction: column;
            font-family: lato;
        }
    }
    .titulo{
        h2{
            padding: 10px 70px;
            font-weight: bold;
            font-size: nth($font-sizes , 3);
            border: nth($colores, 2) solid ;
            border-radius: 10px;
            text-transform: uppercase;
            margin: 20px;
            background-color: nth($colores, 2);
        }
    }
    .cards{
        padding: 10px 70px;
        font-weight: bold;
        font-size: nth($font-sizes , 3);
        border: nth($colores, 2) solid ;
        border-radius: 10px;
        text-transform: uppercase;
        margin: 20px;
        background-color: nth($colores, 2);
        .card1{
            margin: 10px;
            border: nth($colores, 3) solid;
            background-color: nth($colores, 3);
            padding: 5px 50px;
            border-radius: 30px;
            height: 250px;
            img{

            }
            .card-contacto1{
                list-style: none;
                margin: 10px;
                color: nth($colores, 4);
                font-family: lato;
                font-weight: bold;
                ul{
                    li{
                        margin: 10px;
                        a{

                        }

                        img{
                            width: 50px;
                        }
                        a{

                            img{

                            }
                        }
                    }
                }
                .boton{
                    align-self: flex-end;
                    background-color: nth($colores, 2);
                    color: nth($colores, 4);
                    padding: 10px 20px;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    font-family: lato;
                    font-weight: bold;
                }
            }
        }
        .card2{
            align-self: flex-end;
            margin: 10px;
            border: nth($colores, 3) solid;
            background-color: nth($colores, 3);
            padding: 5px 50px;
            border-radius: 30px;
            height: 250px;
            .card-contacto2{
                list-style: none;
                margin: 10px;
                color: nth($colores, 4);
                font-family: lato;
                font-weight: bold;
                li{
                    margin: 10px;
                    a{
                        margin: 10px;
                        img{
                            width: 50px;
                        }
                    }
                }
            }
            .boton{
                align-self: flex-end;
                background-color: nth($colores, 2);
                color: nth($colores, 4);
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                font-family: lato;
                font-weight: bold;
            }
        }
    }
    .form{
        padding: 30px;
    }
    .formImg{
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sobre-nosotros{
        padding: 20px;
        div{
            padding: 20px;
            margin: 40px;
            h2{
                margin: 10px;
                font-size: nth($font-sizes , 3);
                text-align: center;
            }
            p{
                font-family: lato;
                font-size: nth($font-sizes , 2);
            }
        }
        .sobre-nosotros_img{
            max-width: 100%;
            height: auto;
            width: 900px;
        }
    }
    .productos{

        .grid-container{
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 20px;
            padding: 20px;
            margin: 0 auto;
            max-width: 1200px;
            .grid-item{
                background-color: nth($colores, 3);
                border: 1px solid nth($colores, 3);
                border-radius: 10px;
                box-shadow: 0 4px 8px nth($colores, 4);
                padding: 20px;
                text-align: center;
                width: 100%;
                max-width: 400px;
                height: auto;
            .grid-item:hover{
                transform: scale( 1.2, 1.2);
            }
                img{
                    max-width: 100%;
                    height: auto;
                    border-radius: 8px;
                }
            }
        }
    }
    .bienvenidos{
        padding: 20px;
        div{
            padding: 20px;
            margin: 40px;
            h2{
                margin: 10px;
                font-size: nth($font-sizes , 3);
                text-align: center;
            }
            p{
                font-family: lato;
                font-size: nth($font-sizes , 2);
            }
        }
        .img_welcome{
            max-width: 100%;
            height: auto;  
        }
    }
    .productos{
        justify-content: center;
        h2{
            padding: 10px 70px;
            font-weight: bold;
            font-size: nth($font-sizes , 3);
            border: nth($colores, 2) solid ;
            border-radius: 10px;
            text-transform: uppercase;
            margin: 20px;
            background-color: nth($colores, 2);
        }
        .productos-botones{
            flex-wrap: wrap;
            .harinas{
                margin: 10px;
            .boton-harinas:hover{
                transform: scale( 1.2, 1.2);
            }
                a{
                    color: nth($colores, 3);
                    background-color: nth($colores, 2);
                    padding: 10px 20px;
                    border-radius: 8px;
                    text-align: center;
                    font-weight: bold;
                    font-size: nth($font-sizes , 1);
                    img{
                        width: 300px;
                        height: auto;
                        display: block;
                        margin: 0 auto 20px;
                        border-radius: 50%;
                    }
                }
            }

            .mermeladas
            .boton-mermeladas:hover{
                transform: scale( 1.2, 1.2);
            }
                a{
                    color: nth($colores, 3);
                    background-color: nth($colores, 2);
                    padding: 10px 20px;
                    border-radius: 8px;
                    text-align: center;
                    font-weight: bold;
                    font-size: nth($font-sizes , 1);
                    img{
                        width: 300px;
                        height: 300px;
                        display: block;
                        margin: 0 auto 20px;
                        border-radius: 50%;
                    }
                }
            }
            
            .galletas{
            .boton-galletas:hover{
                transform: scale( 1.2, 1.2);
            }
                a{
                    color: nth($colores, 3);
                    background-color: nth($colores, 2);
                    padding: 10px 20px;
                    border-radius: 8px;
                    text-align: center;
                    font-weight: bold;
                    font-size: nth($font-sizes , 1);
                    img{
                        width: 300px;
                        height: 300px;
                        display: block;
                        margin: 0 auto 20px;
                        border-radius: 50%;
                    }
                }
            }
        }
    }